<section class="content__page content__resume">
    <header class="resume__header">
        <h1 class="resume__title">Curriculum</h1>
    </header>
    <div class="resume__container">
        <section class="resume__left" id="resume-left"></section>
        <section class="resume__right" id="resume-right"></section>
    </div>
    <div class="resume__certificates" id="resume-certificates"></div>
</section>
<script>
    loadComponent('resume-left', 'components/curriculum/ResumeLeft.html');
    loadComponent('resume-right', 'components/curriculum/ResumeRight.html');
    loadComponent('resume-certificates', 'components/curriculum/ResumeCertificates.html');
</script>
