<nav class="layout__menu">
    <ul class="menu__list">
        <li class="menu__option">
            <a href="index.html" class="menu__link menu__link--active">
                <i class="fa-solid fa-house menu__icon menu__link--active"></i>
                <span class="menu__overlay menu__link--active">Home</span>
            </a>
        </li>
        <li class="menu__option">
            <a href="sobre-mi.html" class="menu__link">
                <i class="fa-solid fa-user menu__icon"></i>
                <span class="menu__overlay">Sobre Mi</span>
            </a>
        </li>
        <li class="menu__option">
            <a href="curriculum.html" class="menu__link">
                <i class="fa-solid fa-graduation-cap menu__icon"></i>
                <span class="menu__overlay">Curriculum</span>
            </a>
        </li>
        <li class="menu__option">
            <a href="portafolio.html" class="menu__link">
                <i class="fa-solid fa-briefcase menu__icon"></i>
                <span class="menu__overlay">Portafolio</span>
            </a>
        </li>
        <li class="menu__option">
            <a href="blog.html" class="menu__link">
                <i class="fa-solid fa-book menu__icon"></i>
                <span class="menu__overlay">Blog</span>
            </a>
        </li>
        <li class="menu__option">
            <a href="contacto.html" class="menu__link">
                <i class="fa-solid fa-envelope menu__icon"></i>
                <span class="menu__overlay">Contacto</span>
            </a>
        </li>
    </ul>
</nav>
