<section class="aside__user-info">
    <!-- Include UserInfo Component -->
    <div id="user-info"></div>
    <!-- Include NavMenu Component -->
    <div id="nav-menu"></div>
    <!-- Include SocialLinks Component -->
    <div id="social-links"></div>
    <!-- Include CVButton Component -->
    <div id="cv-button"></div>
    <!-- Include Footer Component -->
    <div id="footer"></div>
</section>
<script>
    loadComponent('user-info', 'components/UserInfo.html');
    loadComponent('nav-menu', 'components/NavMenu.html');
    loadComponent('social-links', 'components/SocialLinks.html');
    loadComponent('cv-button', 'components/CVButton.html');
    loadComponent('footer', 'components/Footer.html');
</script>
