<section class="content__page content__about">
    <header class="about__header">
        <h1 class="about__title">Sobre <span class="title__color">Mi</span></h1>
    </header>
    <div id="personal-info"></div>
    <div id="services"></div>
    <div id="reviews"></div>
    <div id="clients"></div>
    <div id="prices"></div>
    <div id="extra"></div>
</section>
<script>
    loadComponent('personal-info', 'components/about/PersonalInfo.html');
    loadComponent('services', 'components/about/Services.html');
    loadComponent('reviews', 'components/about/Reviews.html');
    loadComponent('clients', 'components/about/Clients.html');
    loadComponent('prices', 'components/about/Prices.html');
    loadComponent('extra', 'components/about/Extra.html');
</script>
