<section class="about__reviews">
    <header class="reviews__header">
        <h3 class="reviews__title">Reseñas</h3>
    </header>
    <div class="reviews__container">
        <article class="reviews__review">
            <div class="review__img-container">
                <img src="./assets/img/testimonio1.jpg" alt="Testimonio1" class="review__image">
            </div>
            <div class="review__description">
                <p class="review__text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet quidem optio alias. Quos ipsum optio unde provident delectus possimus 
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet quidem optio alias. Quos ipsum optio unde provident delectus possimus 
                </p>
            </div>
            <div class="review__author">
                <div class="review__author-info">
                    <h4 class="review__name">Ana Lopez</h4>
                    <h5 class="review__company">Developers S.A.</h5>
                </div>
                <div class="review__authon-icon">
                    <i class="review__icon fa-solid fa-quote-right"></i>
                </div>
            </div>
        </article>
        <article class="reviews__review">
            <div class="review__img-container">
                <img src="./assets/img/testimonio2.jpg" alt="Testimonio1" class="review__image">
            </div>
            <div class="review__description">
                <p class="review__text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet quidem optio alias. Quos ipsum optio unde provident delectus possimus 
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet quidem optio alias. Quos ipsum optio unde provident delectus possimus 
                </p>
            </div>
            <div class="review__author">
                <div class="review__author-info">
                    <h4 class="review__name">Ruben Martinez</h4>
                    <h5 class="review__company">Fullstack S.A.</h5>
                </div>
                <div class="review__authon-icon">
                    <i class="review__icon fa-solid fa-quote-right"></i>
                </div>
            </div>
        </article>
    </div>
</section>
